@use '../abstracts' as *;
footer {
  display: grid;
  background-color: $white-100;
  grid-template-rows: 7;
  padding: 38px;

  h4 {
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    font-family: 'Satisfy', cursive;
    font-weight: 400;
  }

  p {
    font-family: 'Roboto Mono', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    margin: 16px;
    margin-left: auto;
    margin-right: auto;

    strong,
    span {
      display: block;
    }
  }

  div {
    width: 100%;
    text-align: center;
    position: relative;
    margin-bottom: 32px;
    font-size: 16px;
    font-weight: 400;

    i {
      position: absolute;
      left: 20px;
      font-size: 43px;
    }
    .fa-phone {
      transform: translateY(-18px);
    }
    .fa-clock {
      transform: translateY(18px);
    }
  }
}
