@use '../abstracts' as *;

footer {
  display: grid;
  background-color: $white-100;
  grid-template-rows: 7;
  padding: 38px;

  h4 {
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    font-family: 'Satisfy', cursive;
    font-weight: 400;
  }

  p {
    font-family: 'Roboto Mono', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin: 16px;
    margin-left: auto;
    margin-right: auto;

    strong,
    span {
      display: block;
      margin: 0;
    }
  }

  div {
    width: 100%;
    text-align: center;
    position: relative;
    margin-bottom: 32px;
    font-size: 16px;
    font-weight: 400;

    .left-side {
      div {
        .phone-number {
          a[href^='tel'] {
            color: black;
          }
        }
      }
    }

    p:nth-child(3) {
      text-align: left;
      margin-left: auto;
      margin-right: auto;
    }

    i {
      position: absolute;
      left: 0;
      font-size: 43px;
    }

    .fa-phone {
      transform: translateY(-18px);
    }

    .fa-clock {
      transform: translateY(18px);
    }
  }

  form {
    height: 39px;
    display: flex;
    justify-content: center;
    align-items: center;

    input {
      height: 100%;
      margin: 0;
      width: 250px;
      margin-right: -61px;
      border: none;
      border-radius: 13px;
      outline-color: $green-100;
      padding-left: 20px;
      font-family: 'Roboto Mono';
    }

    input[type='submit'] {
      background-color: $green-100;
      border: none;
      height: 100%;
      width: 60px;
      margin: 0;
      border-radius: 0 13px 13px 0;

      font-family: 'Roboto Mono';
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      color: #ffffff;

      &:hover {
        background-color: $green-200;
      }

      &:disabled {
        background-color: $grey-0;
        cursor: not-allowed;
      }
    }
  }

  .social-media {
    display: flex;
    justify-content: center;
    gap: 37px;

    i {
      position: static;
    }
  }

  .footer-middle-container {
    display: none;
  }
}


/* Tablet screen size */
@media screen and (min-width: 700px) {
  .footer-upper-container {
    display: grid;
    gap: 200px;
    grid-template-columns: auto auto;
    max-width: 850px;
    margin-bottom: 0px;
    margin: 0 auto;
    padding: 15px;

    .open-hours {
      margin-top: 45px;
    }

    .fa-clock {
      top: 50%;
      transform: translate(-100%, -50%);
    }
  }

  .footer-middle-container {
    display: none;
  }

  .footer-bottom-container {
    display: flex;
    flex-direction: row;
    max-width: 850px;
    margin: auto;

    .social-media {
      display: flex;
      align-items: flex-end;
      justify-content: end;
      margin-right: 15px;
    }

    input {
      width: 90%;
      height: 45px;
    }

    input[type='submit'] {
      position: relative;
      bottom: 1px;
      right: 10px;
      height: 45px;
      width: 70px;
      margin-top: 2px;
      cursor: pointer;
    }

    p {
      margin-left: 15px;
      text-align: left;
    }
  }

  .hover-on-icon:hover {
    font-size: 48px;
    cursor: pointer;
    animation: rotation 1s linear;
  }
  
  @keyframes rotation {
      0% {
        transform: rotation(0deg);
      }
  
      50% {
        transform: rotation(180deg);
      }
  
      100% {
        transform: rotation(360deg);
      }
  }
}


/* Desktop screen size */
@media screen and (min-width: 1200px) {
  footer {
    .footer-container {
      display: flex;
      gap: 45px;
      max-width: 1600px;
      margin: auto;
    }

    .footer-upper-container {
      padding-top: 20px;
      display: flex;
      flex-direction: column;
      order: 3;
      margin-top: 0px;
      gap: 30px;

      .right-side {
        margin-top: -30px;
      }

      .left-side {
        order: 1;
      }

      .fa-clock {
        margin-left: 10px;
        top: 80%;
        transform: translate(10%, -80%);
      }

      .fa-phone {
        margin-left: 10px;
        margin-top: -8px;
      }
    }

    .footer-middle-container {
      padding: 20px;
      order: 2;
      display: block;
      //background-color: aqua;
      max-width: 100%;

      iframe {
        max-width: 100%;
        max-height: auto;
        border-radius: 13px;
        box-shadow: 6px 6px 6px rgb(0 0 0 / 0.2);
      }

      .map-title {
        text-align: left;
      }
    }

    .footer-bottom-container {
      padding-top: 20px;
      display: flex;
      flex-direction: column;
      order: 1;
      margin-top: 0px;

      .sign-up-text {
        margin-left: 5%;
      }

      p {
        margin-left: 0px;
        margin-right: 0px;
      }

      input {
        width: 90%;
      }

      .social-media {
        padding-top: 20px;
        justify-content: center;
        margin: auto;
        max-width: 90%;
      }
    }
  }
}