@use '../abstracts' as *;
footer {
  display: grid;
  background-color: $white-100;
  grid-template-rows: 7;
  padding: 38px;

  h4 {
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
  }

  p {
    text-align: center;
    margin: 16px;
    margin-left: auto;
    margin-right: auto;

    strong {
      display: block;
    }
  }
}
