@use '../abstracts' as *;
@keyframes slideInFromLeft {
  0% {
    transform: translate(-200%, -50%);
  }

  100% {
    transform: translate(-50%, -50%);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translate(100%, -50%);
  }

  100% {
    transform: translate(-50%, -50%);
  }
}

header {
  background-color: $red-0;

  .nav-container {
    background-color: $red-0;
    color: $white-0;
    max-height: 90px;
  }

  .logo-section {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    padding: 20px 0px 20px 50px;
    font-family: 'Satisfy', cursive;
    font-weight: 400;

    .menu-pad-desktop {
      display: none;
    }
  }

  .pizza3d {
    display: none;
  }

  .header-background-image {
    background-image: url('/webformat/mainHero.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(100vh - 90px);
    position: relative;
  }

  .header-buttons-container {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    animation: 1s ease-out 0s 1 slideInFromRight;
  }

  .header-btn {
    background-color: $green-0;
    border: none;
    font-family: 'Roboto Mono', sans-serif;
    color: $white-0;
    padding: 15px 35px;
    border-radius: 12px;
    font-size: 1rem;
    text-shadow: 1px 2px 5px $black;
    margin: 16px 0;
    transition: all 0.1s ease-in-out;
    cursor: pointer;

    &:hover {
      background-color: $green-100;
    }

    &:active {
      background-color: $green-0;
    }
  }

  .quote {
    display: none;
  }
}

/*
###
######
########## Tablet
*/
@media screen and (min-width: 700px) {
  header {
    background-color: $red-0;

    .nav-container {
      max-height: 200px;
      height: 200px;
    }

    .burger-menu-button {
      display: none;
    }

    .pizza3d {
      z-index: 10;
      position: absolute;
      display: block;
      right: 0;
      top: -30px;
    }

    .logo-section {
      img {
        height: 70px;
        width: 70px;
        transform: translate(-15px, 20px);
      }

      h1 {
        margin: 5px;
        font-size: 64px;
      }

      .menu-pad-desktop {
        display: block;
        width: 100%;

        ul {
          font-family: 'Roboto Mono', sans-serif;
          font-size: 20px;
          margin: 10px;

          li {
            display: inline;
            list-style: none;

            a {
              color: $white-0;
              text-decoration: none;
              text-transform: uppercase;
              display: inline-block;
              position: relative;

              //Animation for underline
              &:hover {
                &::after {
                  width: 100%;
                  left: 0;
                }
              }

              &::after {
                content: '';
                position: absolute;
                left: 50%;
                bottom: -2px;
                width: 0px;
                height: 2px;
                background: #333;
                transition: all 0.35s ease-out;
                background-color: $white-0;
              }
            }
          }

          strong {
            font-size: 27px;
          }
        }
      }
    }

    .header-background-image {
      height: calc(100vh - 200px);

      .header-buttons-container {
        right: -30px;
        left: auto;
        top: 65%;

        .header-btn {
          margin: 32px 0;
        }
      }
    }

    .quote {
      animation: 1s ease-out 0s 1 slideInFromLeft;
      display: block;
      background-color: $red-200;
      opacity: 0.9;
      position: absolute;
      top: 65%;
      left: 205px;
      width: 335px;
      height: 192px;
      transform: translate(-50%, -50%);
      box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.25);
      border-radius: 30px;
      color: $white-0;

      blockquote {
        font-size: 32px;
        font-style: italic;
        width: 290px;
        text-align: center;
        margin: 55px auto;
        font-weight: 300;
      }

      cite {
        font-family: 'Roboto Serif';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        position: absolute;
        right: 30px;
        bottom: 30px;
      }

      .quotemark-background {
        // Fel font? Står att det ska vara detta, men är fel.
        font-family: 'catamaran', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 600px;
        height: 400px;
        // line-height: 703px;
        text-align: center;
        opacity: 0.2;
        position: absolute;
        left: 20px;
        top: 0;
        transform: rotate(180deg);
      }
    }
  }
}
