@use '../abstracts' as *;

main {
    background: $green-0;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 20px;

    .amore {
        max-width: fit-content;
        margin: 0 auto;

        h3 {
            text-align: center;
            font-family: 'Satisfy', cursive;
            font-size: 2rem;
        }

        .stroke {
            display: none;
        }
    }
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 240px;
    height: 390px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    padding: 20px 10px 20px 10px;
    background: $green-100;
    text-align: center;
    margin: 30px auto;
    font-family: 'Roboto Mono', sans-serif;
    color: #fff;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);

    img {
        width: 100%;
        border-radius: 20px;
    }

    p {
        text-align: left;
        padding: 10px;
    }

    button {
        margin: 0 20px 0 20px;
        border: 5px solid green;
        border-radius: 12px;
        height: 46px;
        color: green;
        font-size: 1.5rem;
        text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    }
}

@media screen and (min-width: 768px) {
    .pizza-box {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 5px 5px;
        grid-template-areas:
            "top top"
            "bot-left bot-right";
    }

    main {
        .amore {
            .stroke {
                display: block;
            }
        }
    }

    .card:nth-child(1) {
        grid-area: top;
    }
}

@media screen and (min-width: 1024px) {
    .pizza-box {
        display: flex;
        flex-direction: row;
    }

    .card {
        width: 335px;
        height: 600px;

    }

    .card:nth-child(1) {
        width: 400px;
        height: 700px;
        order: 2;
        margin: 0 50px 0 50px;
    }

    .card:nth-child(2) {
        order: 1;
    }

    .card:nth-child(3) {
        order: 3;
    }
}