$colors: (
  black: (
    '0': #000000,
  ),
  green: (
    '300': #006530,
    '400': #006530,
  ),
  grey: (
    '300': #a0a0a0,
    '400': #212121,
  ),
  red: (
    '100': #af372c,
    '200': #881c24,
  ),
  yellow: (
    '200': #d4ab17,
  ),
  white: (
    '0': #ffffff,
    '100': #f1f2f1,
  ),
);
