$black: #000000;
$green-0: #009246;
$green-100: #006530;
$green-200: #112F22;
$grey-0: #a0a0a0;
$grey-100: #212121;
$red-0: #af372c;
$red-100: #881c24;
$yellow: #d4ab17;
$white-0: #ffffff;
$white-100: #f1f2f1;